body{
    background-color: rgb(21, 160, 118);
    text-align: center;
}
p{
    text-align: center;
}
img{
    margin: auto;
    display: block;
}

p{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}
h3{
    color: white;
}

h4{
    color: white;
}

.mensagem{
    text-align: center;
}
.enviar{
    color:green;
}
button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}